#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
}
/* #header.fixed-top {
  background: transparent;
  background: rgba(55, 64, 85, 0.9);
}
header {
  display: block;
} */
/* .fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
} */
section {
  padding: 60px 0;
}
.container {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

#header .logo {
  font-size: 28px;
  margin: 0;
  margin-right: 10px;
  padding: 0;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: "Poppins", sans-serif;
}
/* navbar */
.navbar ul {
  margin: 0;
  margin-right: 10px;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
ul {
  display: block;
}
.navbar li {
  position: relative;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: #ffc107;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  color: rgb(36, 33, 33);
  font-size: 14px;
  white-space: nowrap;
  transition: 0.3s;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

a {
  color: #ffc107;
  text-decoration: none;
}

/*  */

#hero {
  background-attachment: fixed;
}
#hero {
  width: 100%;
  height: 80vh;
  background-image: url(./hero-bg.jpg);
  background-size: cover;
  position: relative;
}

#hero:before {
  content: "";
  background: rgba(45, 53, 69, 0.7);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#hero .container {
  text-align: center;
  padding-top: 50px;
  position: relative;
  width: 100%;
}
#hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
  display: block;
  font-family: "Raleway", sans-serif;
}
#hero .container {
  text-align: center;
  padding-top: 50px;
}
#hero h2 {
  color: rgb(247, 247, 247);
  margin: 15px 0 0 0;
  font-size: 22px;
}

h2 {
  display: block;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
}
#hero .container {
  text-align: center;
  justify-content: center;
  padding-top: 50px;
}

#hero .btn {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 15px;
  display: inline-block;
  padding: 9px 35px;
  border-radius: 50px;
  transition: 0.5s;
  margin-top: 40px;
  border: 2px solid #ffc107;
  color: #fff;
}
a {
  color: #ffc107;
  text-decoration: none;
}
